<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Titan</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #fcfcfc; margin: 0; padding: 0;" bgcolor="#fcfcfc">
    <div style="background-color: #fcfcfc; margin: 0; padding: 20px 0;">
      <center>
        <table cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #1d1f29; text-align: left; width: 600px; margin: 0; border: 1px solid #dddadc; width: 600px;">
          <tr>
            <td style="background-color: #fff; color: #fff; height: 90px; width: 100%; vertical-align: middle" bgcolor="#fff">
              <img src="http://dev.titanvest.com/images/Titan_logo.png" alt="Titan" style="margin: 0px 30px 0 50px; padding: 10px 30px 10px 0; border: 0; vertical-align: middle; height: 22px;" />
            </td>
          </tr>
          <tr>
            <td style="background-color: rgb(250,251,252); padding: 20px 50px 80px; border-bottom: 1px solid rgb(217,218,226)" bgcolor="rgb(250,251,252)">
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; margin-bottom: 20px; padding: 10px 0 10px 0; line-height: 1.5;">One of your friends signed up for Titan!
              </p>
              <a href="{{ status_url }}" style="background-color: #374cce; color: #fff; font-size: 12px; font-weight: bold; display: inline-block; text-decoration: none; border-radius: 100px; text-transform: uppercase; letter-spacing: 1px; padding: 16px 80px; box-shadow: 0 0 15px 0 rgba(102, 113, 120, 0.2);" bgcolor="#374cce">Check your status</a>
            </td>
          </tr>
          <tr>
            <td style="background-color: rgb(250,251,252); padding: 20px 50px 20px;" bgcolor="rgb(250,251,252)">
              <p style="font-family: Arial, sans-serif; color: rgb(150,152,170); font-size: 10px; margin: 0; padding: 0; line-height: 1.7; letter-spacing: 0.3px;">
                This email was sent by Titan. To unsubscribe <a href="mailto:support@titanvest.com" target="_blank" style="text-decoration: underline; color: inherit;">click here</a>.
              </p>
            </td>
          </tr>

        </table>
      </center>
    </div>
  </body>
</html>
