<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Welcome to Titan</title>
  </head>
  <body leftmargin="0" marginwidth="0" topmargin="0" marginheight="0" offset="0" style="background-color: #fcfcfc; margin: 0; padding: 0;" bgcolor="#fcfcfc">
    <div style="background-color: #fcfcfc; margin: 0; padding: 20px 0;">
      <center>
        <table cellpadding="0" cellspacing="0" style="font-family: Arial, sans-serif; font-size: 14px; line-height: 1.5; color: #1d1f29; text-align: left; width: 600px; margin: 0; border: 1px solid #dddadc; width: 600px;">
          <tr>
            <td style="background-color: #fff; color: #fff; height: 90px; width: 100%; vertical-align: middle" bgcolor="#fff">
              <img src="{{ STATIC_URL }}/email-titan-logo.png" alt="Titan" style="margin: 0px 30px 0 50px; padding: 10px 30px 10px 0; border: 0; border-right: 1px solid rgb(218,219,227); vertical-align: middle; height: 22px;" />
              <b style="color: #000; font-size: 16px; line-height: 1; margin: 0; padding: 0; text-align: center; vertical-align: middle; letter-spacing: 1px;">
                Exclusive early access
              </b>
            </td>
          </tr>
          <tr>
            <td style="background-color: rgb(250,251,252); margin: 0; padding: 50px 50px 0px;" bgcolor="rgb(250,251,252)">
              <h1 style="margin: 0; padding: 0; font-size: 22px; letter-spacing: 1.1px; color: rgb(74,75,87)">Welcome to Titan, your first hedge fund</h1>
              <div style="margin: 0; padding: 0; display: block; width: 50px; height: 3px; border-radius: 12px; background-color: #374cce; margin-top: 15px;"></div>
            </td>
          </tr>
          <tr>
            <td style="background-color: rgb(250,251,252); padding: 10px 50px 80px; border-bottom: 1px solid rgb(217,218,226)" bgcolor="rgb(250,251,252)">
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">You are the newest member of the Titan community. Welcome aboard.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">As the founders of Titan, we'll start by being extremely honest upfront: we acknowledge Titan is not for everyone.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">Most persons do not understand the hedge fund industry and hence would not feel comfortable investing in one. But for someone like yourself who gets it, we are excited to revolutionize your investing experience.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">We will provide your first actively-managed vehicle geared to outperform the market over time. You will be invested in the highest conviction stocks from the best fundamental hedge funds, while also receiving downside protection.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">Invest cash, push button, and voila. We'll do the rest. You are our Limited Partner.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">In the meantime, if you think any of your friends would be interested in being a part of the Titan community, spread the word with the link below. We’re only opening Titan to a selected number of users to start.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">Stay tuned for more - Titan is on its way.</p>
              <p style="color: rgb(85,86,97); font-size: 18px; margin: 0; padding: 10px 0 10px 0; line-height: 1.5;">Best,<br>Team Titan</p>
            </td>
          </tr>
          <tr>
            <td style="background-color: #fff; padding: 70px 50px; border-bottom: 1px solid rgb(217,218,226)" bgcolor="#fff">
              <center style="margin-top: -95px">
                <a href="{{ url }}" style="background-color: #374cce; color: #fff; font-size: 12px; font-weight: bold; display: inline-block; text-decoration: none; line-height: 50px; border-radius: 100px; text-transform: uppercase; letter-spacing: 1px; padding: 0 80px; box-shadow: 0 0 15px 0 rgba(102, 113, 120, 0.2);" bgcolor="#374cce">Share Titan</a>
              </center>
              <p style="color: #374cce; font-size: 18px; margin: 0; margin-top: 25px; padding: 10px 0 10px 0; line-height: 1.5; text-align: center;">
                <a href="{{ url }}" style="color: #374cce; font-size: 18px; text-align: center; text-decoration: none;">
                  {{ url }}
                </a>
              </p>
            </td>
          </tr>

          <tr>
            <td style="background-color: rgb(250,251,252); padding: 20px 50px 20px;" bgcolor="rgb(250,251,252)">
              <p style="font-family: Arial, sans-serif; color: rgb(150,152,170); font-size: 10px; margin: 0; padding: 0; line-height: 1.7; letter-spacing: 0.3px;">
                This email was sent by Titan. To unsubscribe <a href="mailto:support@titanvest.com" target="_blank" style="text-decoration: underline; color: inherit;">click here</a>.
              </p>
            </td>
          </tr>

        </table>
      </center>
    </div>
  </body>
</html>
